﻿@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Style/StyleSheet.css" rel="stylesheet" />
    <link href="~/Style/StyleSheet.css" rel="stylesheet" />
    <title>Loading</title>
</head>
<body>
<div class="text"> <h1>LOADING...</h1></div>
</body>
</html>