﻿.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #0B963C;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    top: 50%;
    left: 50%;
    position:fixed;
}

.text
{
     top: 50%;
     margin-bottom: 50%;
     left: 50%;
     text-align: center;
     color: #0b963c;
}

.text h1 {
     top: 50%;
     text-align: center;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}